version: "3.9"

services:

  sonarqube:
    image: sonarqube:9.9-community
    depends_on:
      - sonar_db

    environment:
      SONAR_JDBC_URL: jdbc:postgresql://sonar_db:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar

    ports:
      - "9000:9000"

    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_logs:/opt/sonarqube/logs


  sonar_db:
    image: postgres:14

    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonar

    volumes:
      - sonar_db:/var/lib/postgresql/data


volumes:
  sonar_data:
  sonar_logs:
  sonar_db:
